@{
    ViewBag.Title = "TRAIN POKEMON";
    ViewBag.Redirect = "Home";
    ViewBag.ModalTrigger = "LevelUp";
    Layout = "~/Views/Shared/_Modal.cshtml";
}
<script>
    var ControllerName = '@ViewBag.ControllerName';
    var ActionName = '@ViewBag.ActionName';
    var idNumber = '@ViewBag.idNumber';
</script>

<div class="container-fluid h-100">

    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header">POKEMON LIST</div>
                <div class="card-body">
                    <table id="pending" class="table table-hover" style="width:100%; font-size:18px;">
                        <thead>
                            <tr>
                                <th>DISPLAY</th>  
                                <th>POKEMON NAME</th>
                                <th>CURRENT LEVEL</th>
                                <th>CURRENT EXP</th>
                                <th>NEXT TO LVL</th>
                                <th>POKEMON TYPE</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="append-pokemon"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="loader"></div>